extend layout
block content
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') Home Node
          ul.nav(data-bind='foreach: rooms')
            li(data-bind='css: { active: $data == $root.selectedRoomId() }')
              a(data-bind='text: $data, attr: { href: $root.getRoomUrl($data), title: $data}')

    .container(style="margin-top:50px;")
      .page-header
        h1(data-bind="text: selectedRoomId")

      span(data-bind="foreach: { data: availableAppliences, afterRender: $root.initSliders}")
        <!-- ko if: $index==0 || $index%2==0 -->
        .row-fluid
        <!-- /ko -->
          .span3
            h2(data-bind="text: name") ...
            .btn-group(data-toggle="buttons-radio")
              button.btn.btn-large.btn-success(type="button", data-bind='click: $root.sendOnCommand.bind($data)') On
              button.btn.btn-large.btn-danger(type="button", data-bind='click: $root.sendOffCommand.bind($data)') Off
            input(type="text", class="sl", value="4", data-bind="attr: { id: 'sl' + address }")

