!!!5
html
  head
    title #{title} - Home Node

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    //link(href='/stylesheets/style.css', rel='stylesheet')

    script(src='/javascript/jquery-1.9.1.min.js')
    script(src='/javascript/bootstrap.min.js')
    script(src='/javascript/knockout-2.2.1.js')
    script(src='/javascript/sammy-latest.min.js')
    script(src='/socket.io/socket.io.js')

    style
      .well {
        margin-left:0;
        margin-right:0;
      }

  body
    block content

    script(src='/javascript/home-node.js')